{% load wagtailcore_tags wagtailimages_tags %}

                <div class="card ">
        {% image self.image fill-512x640 as photo %}
                  <img src="{{ photo.url }}" style="width:256px; height: 320px; display:block; margin-left:auto; margin-right:auto;" class="card-img-top" alt="{{ photo.alt }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ self.title }}</h5>
                    <p class="card-text">{{ self.message }}</p>
                  </div>
                </div>
                