{% comment %} This template is used with Carls Custom Menus tutorial (Now not used) {% endcomment %}
{% load nav_tags %}
{% get_navbar "main" as navigation %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
  {% for item in navigation.menu_items.all %}
        <a class="nav-link active" aria-current="page" href="{{ item.link }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>{{ item.title }}</a>
        {% endfor %}
        {% comment %} <a class="nav-link" href="#">Features</a> {% endcomment %}
      </div>
    </div>
  </div>
</nav>